include layout
block content
  div.container
    h1= data.name
    p= data.description
    p Rating
      span.badge
        =data.rating
      if isAuthenticated && data.rating < 10
        br
        div.badge
          i(class="fa fa-thumbs-up fa-lg rateUpGame", data-id=data.id)
        if isAuthenticated && data.rating > 1
          div.badge
            i(class="fa fa-thumbs-down fa-lg rateDownGame", data-id=data.id)
    img.img-responsive(styles="width: 100%", src="../" + data.mainPageImage)
