include layout
block content
  div.container
    h1= data.name
    p= data.description
    p Rating
      span.badge
        =data.rating
    img.img-responsive(styles="width: 100%", src="../" + data.mainPageImage)
