extend layout
block content
  .container
    .col-lg-6
      .well.bs-component
        form.form-horizontal(action='/games', method='POST', enctype="multipart/form-data")
          fieldset
            legend Add New Game///FIX IT WITH THE FIELDS FROM DB!
            .form-group
              label.col-lg-2.control-label(for='title') Name
              .col-lg-10
                input#title.form-control(name='title',type='text', placeholder='Title')
            .form-group
              label.col-lg-2.control-label(for='description') Description
              .col-lg-10
                input#description.form-control(name='description',type='text', placeholder='Description')
            .form-group
              label.col-lg-2.control-label(for='inputPrice') Price
              .col-lg-10
                input#inputPrice.form-control(name='price',type='text', placeholder='Price')
            .form-group
              label.col-lg-2.control-label(for='inputFile') File Upload
              .col-lg-10
                input#inputFile.form-control(name='image-file', type='file', placeholder='File')
            .form-group
              .col-lg-10.col-lg-offset-2
                button.btn.btn-default(type='reset') Cancel
                button.btn.btn-primary(type='submit') Add Product
