header.navbar.navbar-inverse.navbar-fixed-top(role='banner')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='/')
        img(src='/images/logo-main.png', alt='Basica')
    .collapse.navbar-collapse
      div.nav.navbar-nav.navbar-right
        .navbar-form
          .btn-toolbar
              if isAuthenticated
                form(action="/logout" method="POST")

                  button.btn.btn-success(type="submit") Logout

              else

                a.btn.btn-success(href="/login") Login
            
                a.btn.btn-primary(href="/register") Sign Up
