header.navbar.navbar-inverse.navbar-fixed-top(role='banner')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='/')
        img(src='/images/logo-main.png')
    .collapse.navbar-collapse
      ul.nav.navbar-nav

        li
          a(href="/games") Games
        if isAuthenticated && isAdmin
          li
            a(href="/games/add") Add Game
        li
          a(href="/reviews") Reviews
        if isAuthenticated && isAdmin
          li
            a(href="/reviews/add") Add Review
      div.nav.navbar-nav.navbar-right
        .navbar-form

          .btn-toolbar
              if isAuthenticated
                form.btn-toolbar(action="/logout" method="POST")

                        if (currentUser)
                            p.btn.btn-success GameOn #{currentUser.username}

                            button.btn.btn-primary(type="submit") Logout

              else

                a.btn.btn-success(href="/login") Login

                a.btn.btn-primary(href="/register") Sign Up
