doctype html
html
  head
    link(href="/components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/components/font-awesome/css/font-awesome.min.css", rel="stylesheet")
    link(href="/css/custom.css", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")

  body(ng-app="myApp")
    include header
    block carousel
    .container
      block content
    script(src='/components/jquery/dist/jquery.min.js', type='text/javascript', rel='script')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js', type='text/javascript', rel='script')

    script(src='/components/angular/angular.min.js', type='text/javascript', rel='script')
    script(src='/components/angular-route/angular-route.min.js', type='text/javascript', rel='script')
    script(src='/components/angular-resource/angular-resource.min.js', type='text/javascript', rel='script')
    script(src='/components/angular-cookies/angular-cookies.min.js', type='text/javascript', rel='script')

    script(src="/app/app.js", type='text/javascript', rel='script')

    script(src="/app/account/auth.js", type='text/javascript', rel='script')
    script(src="/app/account/authorization.js", type='text/javascript', rel='script')
    script(src="/app/account/identity.js", type='text/javascript', rel='script')
    script(src="/app/account/login-controller.js", type='text/javascript', rel='script')
    script(src="/app/account/register-controller.js", type='text/javascript', rel='script')
