extend layout
block content
    .container
        .col-lg-6.col-lg-offset-3
            .well.bs-component
                form.form-horizontal(action='/reviews', method='POST', enctype="multipart/form-data")
                    fieldset
                        legend Add New Review
                        .form-group
                            label.col-lg-2.control-label(for='title') Title*
                            .col-lg-10
                                input#title.form-control(name='title', type='text', placeholder='Review Title', required="required")
                        .form-group
                            label.col-lg-2.control-label(for='game') Game*
                            .col-lg-10
                                select#game.form-control(name='game', placeholder='Game', required="required")
                                    each game in data
                                        option(value=game.id)
                                            =game.name
                        .form-group
                            label.col-lg-2.control-label(for='content') Content*
                            .col-lg-10
                                input#content.form-control(name='content',type='text', placeholder='Content', required="required")
                        .form-group
                            label.col-lg-2.control-label(for='summary') Summary*
                            .col-lg-10
                                input#summary.form-control(name='summary',type='text', placeholder='Summary', required="required")
                        .form-group
                            label.col-lg-2.control-label(for='tags') Tags*
                            .col-lg-10
                                input#tags.form-control(name='tags',type='text', placeholder='Enter game tags separated by a space', required="required")
                        .form-group
                            .col-lg-10.col-lg-offset-2
                                button.btn.btn-default(type='reset') Clear form
                                button.btn.btn-primary(type='submit') Add Review
                        span * - required
